.card-shine-effect {
    --shine-deg: 45deg;
    overflow: hidden;
    border-radius: 0.875rem;
    border: 1px solid rgb(24, 40, 57);
    background-color: rgb(9 9 11);
    box-shadow: 0 25px 50px -12px rgba(206, 142, 142, 0.25);
  
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
  
    background-image: linear-gradient(
      var(--shine-deg),
      transparent 20%,
      transparent 40%,
      rgb(68, 68, 68, 0.2) 50%,
      rgb(68, 68, 68, 0.2) 55%,
      transparent 70%,
      transparent 100%
    )
}